.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 481px) {

    .container {
        background-color: white;
        margin: auto;
    }

    body {
        font-family: serif;
        padding: 3%;
        background-color: #f3e5d8;
    }

    h1, h2 {
        font-family: "Young Serif",serif;
    }

    p, li {
        font-family: "Outfit",sans-serif;
        color: #6a6865;
    }
    
    img {
        border-radius: 8px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    tr {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid bisque;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    tr.last {
        padding: 8px;
        text-align: left;
        border-bottom: none;
    }

}

/* add mobile version here, remember 480px max-width */