.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

h1, h2 {
    font-family: "Young Serif",serif;
    color: #8b422f;
}

p, li {
    font-family: "Outfit",sans-serif;
    color: #6a6865;
}

h3 {
    font-family: "Outfit",sans-serif;
    color: #6c1c3b;
}

hr.solid {
    border-top: 1px solid #bbb;
  }

@media (min-width: 481px) {

    .container {
        background-color: white;
        margin: auto;
        padding: 3%;
        width: 50%;
        border-radius: 16px;
    }

    body {
        font-family: serif;
        padding: 3%;
        background-color: #f3e5d8;
    }
    
    li {
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .purplebox {
        background-color: #fff7fc;
        border-radius: 8px;
        padding: 5px;
    }

    ul.color1 li::marker {
        color: #8b422f;
    }

    ul.color2 li::marker {
        color: #6c1c3b;
    }

    ol li::marker {
        color: #8b422f;
        font-weight: bold;
    }

    ul li::marker {
        font-size: 70%;
    }

/* fix this so that the color is the color of the. the fucking um. the list title thing yeah */

    /* ul li::marker {
        color: black;
    }*/

    td {
        font-family: "Outfit",sans-serif;
    }
    
    img {
        border-radius: 8px;
        width: 100%;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    tr {
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid bisque;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    tr.last {
        padding: 8px;
        text-align: left;
        border-bottom: none;
    }

}

/* add mobile version here, remember 480px max-width */